// GruvBox color scheme

* {
    background:     #282524FF;
    background-alt: #3D3934FF;
    foreground:     #EBDBB2FF;
    selected:       #458588FF;
    active:         #98971AFF;
    urgent:         #CC241DFF;
}
