$col_text: #ebdbb2;
$col_dark: #282828;
$col_yellow: #d79921;
$col_gray: #333333;
$col_blue: #458587;

* {
  all: unset;
  font-family: 'JetBrainsMono Nerd Font', monospace;
}

.temp-select {
  background-color: $col_dark;
  border: 1px solid $col_blue; 
  border-radius: 5px;
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: $col_text;
}

.buttons > * {
  margin-right: 10px;
}

.buttons > *:last-child {
  margin-right: 0;
}

button {
  background-color: $col_gray;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: $col_text; 
  font-size: 16px;
  transition: all 200ms ease;
}

button:hover {
  color: $col_yellow;
  background-color: $col_blue;
}

.close-btn {
  background-color: #cc241d;
  margin-top: 10px;
}

.close-btn:hover {
  background-color: #fb4934;
}
