* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.8);
}

button {
  margin: 4px;
  border-radius: 5px;
  border: 0px;
	text-decoration-color: #ebdbb2;
  color: #ebdbb2;
	background-color: #282524;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  font-size: 16px;
  font-family: 'JetBrainsMono Nerd Font', FontAwesome, monospace;
}

button:focus, button:active, button:hover {
	background-color: #458588;
	outline-style: none;
}

#lock {
    background-image: url("./icons/lock.svg");
    background-size: 22%;
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
    background-image: url("./icons/sleep.svg");
    background-size: 22%;
}

#hibernate {
    background-image: url("./icons/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/shutdown.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}
