$background: #242220;
$background-alt: #2c2928;
$background-alt2: #44403f;
$foreground: #ebdbb2;
$blue: #458588;
$green: #98971a;
$red: #cc241d;
$yellow: #bb810b;
$pink: #b16286;
$highlight: #665c54;

* {
  all: unset;
}

.bar {
  background-color: $background;
  color: $foreground;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 300;
  padding: 5px 2px;
  border-bottom: 1px solid $background-alt2;
}

.side slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #d35d6e;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

// Workspaces
.workspaces {
  background-color: $background-alt;
  border-radius: 12px;
  padding: 5px;

  button {
    padding: 0px 6px;
    border-radius: 20px;
    transition: all 0.2s ease;

    &:hover {
      background-color: $highlight;
      color: $yellow;
    }

    &.active {
      background-color: $highlight;
      color: $yellow;
      font-weight: 800;
    }
  }
}

// Clock
.clock {
  background-color: $background-alt;
  border-radius: 12px;
  padding: 4px 10px;
  margin: 0px 4px;
}

.time {
  font-size: large;
}

.dot {
  font-size: x-small;
}

// Bluelight
.bluelight-on,
.bluelight-off {
  background-color: $background-alt;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: large;
  transition: background 0.2s ease;

  &:hover {
    background-color: $background-alt2;
  }
}

.bluelight-on {
  color: $green;
}

.bluelight-off {
  color: $foreground;
}

// Music
.paused {
  background-color: $background-alt;
  color: $foreground;
  border-radius: 12px;
  padding: 0px 10px;
  margin: 0px 5px;
}

.playing {
  background-color: $yellow;
  color: $background;
  border-radius: 12px;
  padding: 0px 10px;
  margin: 0px 5px;
}

.music-progress {
  font-size: small;
}

.paused-circle {
  background: $background-alt2;
}

.playing-circle {
  background-color: $highlight;
}

// Title
.title {
  border: 1px solid $background-alt2;
  color: $foreground;
  border-radius: 12px;
  padding: 0px 10px;
  margin: 0px 5px;
}

// Control
.control {
  background-color: $background-alt;
  border-radius: 12px;
  padding: 0px 10px;
  margin: 0px 5px;
}

// Scale
scale trough {
  all: unset;
  background-color: $background-alt2;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: 0px 5px;
}

// Volume bar
.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

.volume-icon {
  font-size: large;
  margin: 0px 3px 0px 0px;
}

.volume-value {
  margin: 0px 5px 0px 0px;
}

// Battery
.battery {
  font-size: large;
  margin: 0px 5px 0px 0px;
}

// Warp
.warp {
  font-size: large;
  margin: 0px 3px 0px 0px;
}

// Brightness
.brightness trough highlight {
  background-color: $pink;
  border-radius: 5px;
}

.brightness-icon {
  font-size: large;
  margin: 0px 5px 0px 0px;
}

.brightness-value {
  margin: 0px 5px 0px 0px;
}

// System tray
.tray {
  border: 1px solid $background-alt2;
  border-radius: 12px;
  padding: 0px 8px;
  margin: 3px 0px;
}

// RAM
.ram-progress,
.cpu-progress,
.disk-progress {
  font-size: large;
}

.ram-circle,
.cpu-circle,
.disk-circle {
  background: $background-alt2;
}

.control-dot {
  color: $highlight;
}

// System tray
menu {
  background: $background-alt;
  padding: 10px 5px;
  border: 1px solid $background-alt2;
  border-radius: 12px;

  > menuitem {
    font-size: 14px;
    padding: 2px 5px;

    &:disabled {
      color: $highlight;
    }

    &:hover {
      background: $background-alt2;
      border-radius: 6px;
    }
  }

  separator {
    margin: 3px 0px;
    border-top: 1px solid $background-alt2;

    &:last-child {
      margin: 0px;
      border-top: none;
    }
  }
}
